<%- include('partials/header') -%>
  

<main class="thankyou">
    <h1>THANK YOU, YOUR ORDER HAS BEEN SUBMITTED.</h1>
    <h1>PLEASE WAIT AND OUR BARISTA WILL BRING YOUR ORDER OVER ONCE ITS COMPLETED</h1>

    <a id="btn2" href="/" class="col-3 btn btn-primary"> Go to Homepage</a>
</main>    



<%- include('partials/footer') -%>